<!DOCTYPE html>
<html>
<head>
  <title>Miniappli</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <style type="text/css" href="./style.css"></style>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>

</head>
<body>

   <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Blog</a>
      <% if user_signed_in? %>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
        <a href="/users/<%= current_user.id %>">MyPage</a></li>
        <li><%= link_to "SignOut", destroy_user_session_path, method: :delete %></li>
        <li><a class="post" href="/blogs/new">New</a></li>
      </ul>
      <% else %>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to "LogIn", new_user_session_path, class: 'post' %></li>
        <li><%= link_to "SingIn", new_user_registration_path, class: 'post' %></li>
      </ul>
      <% end %>
    </div>
  </nav>

<%= yield %>

</body>
</html>
